.page {
  max-width: 1000px;
  margin: auto;
  padding: 0 2rem;
  padding-top: 1rem;

  .top-bar-thing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: rgb(155, 233, 168);
    background: linear-gradient(
      90deg,
      rgba(155, 233, 168, 1) 0%,
      rgba(155, 233, 168, 1) 25%,
      rgba(64, 196, 99, 1) 25%,
      rgba(64, 196, 99, 1) 50%,
      rgba(48, 161, 78, 1) 50%,
      rgba(48, 161, 78, 1) 75%,
      rgba(33, 110, 57, 1) 75%,
      rgba(33, 110, 57, 1) 100%
    );
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0;

    .logo {
      svg {
        width: 90px;
        filter: drop-shadow(0px 14px 8px rgba(0, 0, 0, 0.08));
      }
    }

    .text {
      margin-left: 1rem;
    }
  }
}

h1 {
  margin: 0;
  font-size: 26px;
  line-height: 1.25;
  font-weight: 600;
}

p {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}
