.calendar-graph {
  rect.day {
    shape-rendering: geometricPrecision;
    outline: 1px solid rgba(27, 31, 35, 0.04);
    outline-offset: -1px;
    rx: 2;
    ry: 2;
  }

  text.month,
  text.wday {
    user-select: none;
  }

  text.month {
    font-size: 10px;
    fill: #767676;
  }

  text.wday {
    font-size: 9px;
    fill: #767676;
  }
}
